<ion-content class="ion-padding" >
  <div class="set-full-height">
    <h2>GENERATING VIDEO...</h2>
    <div class="logo">
      <img src="assets/images/loader.gif" alt="">
    </div>
    <div *ngIf="(jobService.job$ | async)?.progress" class="ion-margin-bottom">{{ (jobService.job$ | async)?.progress }}%</div>
    <div class="progress-bar">
      <div class="progress"
        [ngClass]="{ 'animated' : (jobService.job$ | async)?.progress === undefined || (jobService.job$ | async)?.progress === null || (jobService.job$ | async)?.progress === '0' }"
        [style.width]="(jobService.job$ | async)?.progress + '%'"></div>
    </div>
  </div>
</ion-content>
