ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-list {
    padding: 1.6rem;
}

ion-item {
    --min-height: 3.8rem;

    text-align: center;
    border-bottom: 0.1rem solid #818181;
    border-right: 0.1rem solid #818181;
    border-left: 0.1rem solid #818181;

    &:first-child {
        border-top: 0.1rem solid #818181;
    }

    ion-label {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }
}
