<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing"></ion-back-button>
    </ion-buttons>
    <ion-title>FAYCE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="content-box">
    <h3>YOU ARE ABLE TO PUPPET ONE FREE PHOTO A WEEK. <br>TO HAVE FULL ULIMITED ACCESS TO OUR SERVICE:</h3>
    <h2><ion-text color="primary">CONGRATULATIONS!  ENJOY YOUR VIDEO!</ion-text></h2>
    <div class="video-box">
      <video [src]="videoUrl" controls></video>
    </div>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center" (click)="goToHome()">
        <ion-button size="large" fill="clear" color="dark">
          <ion-icon name="reload"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button fill="outline" expand="block" (click)="goToDownload()">
          <ion-icon name="download-outline"></ion-icon>
          SAVE
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline" expand="block" (click)="share()">
          <ion-icon name="share-outline"></ion-icon>
          SHARE
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
