<ion-content>
  <div class="top-right-photo">
    <img [src]="photoUrl" alt="">
    <div class="logo">
      <div class="fayce-logo">
        <img src="assets/images/fayce-logo.png" alt="">
      </div>
    </div>
  </div>
  <ng-container *ngIf="isWeb; else mobile">
    <div class="help ion-justify-content-center" *ngIf="!hideHint">
      <p>
        NOW IT IS TIME TO MAKE THE PHOTO COME TO LIFE!<br>SIMPLY RECORD YOUR FACE WITH MINIMAL HEAD MOVEMENTS WHILE SAYING WHATEVER YOU WANT THE PERSON IN THE PHOTO TO SAY. KEEP YOUR VIDEO UNDER 20 SECONDS MAX.</p>
      <ion-button fill="outline" class="upload-button" (click)="selectVideo.click()">UPLOAD VIDEO NOW</ion-button>
    </div>
    <input type="file" hidden class="show-input" #selectVideo id="selectVideo" accept="video/mp4" (change)="videoSelected( $event )">
  </ng-container>
  <ng-template #mobile>
    <div class="help" *ngIf="!hideHint">
      <p>NOW IT IS TIME TO MAKE THE PHOTO COME TO LIFE!<br>SIMPLY RECORD YOUR FACE WITH MINIMAL HEAD MOVEMENTS WHILE SAYING WHATEVER YOU WANT THE PERSON IN THE PHOTO TO SAY. KEEP YOUR VIDEO UNDER 20 SECONDS MAX.</p>
      <h4>WHEN YOU ARE READY<br>PRESS RECORD BELOW.</h4>
      <!-- <ion-icon color="primary" name="arrow-down-outline"></ion-icon> -->
    </div>
    <div class="timer-box" *ngIf="timer > 0 && timer < 4">{{timer}}</div>
    <div class="show-loader" *ngIf="showLoader">
      <ion-spinner *ngIf="showLoader === 1"></ion-spinner>
      <h2 *ngIf="showLoader === 2">START</h2>
    </div>
  </ng-template>
  <video [src]="videoUrl" *ngIf="videoUrl" class="video-ref" controls></video>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="!isWeb">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="startTimer( true )" [disabled]="!videoUrl">
        <ion-icon slot="icon-only" name="reload"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-button fill="clear" (click)="startTimer( true )" *ngIf="!isRecording && timer === 4 && !isWeb">
        <ion-icon slot="icon-only" name="mic"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="stopVideoRecording()" *ngIf="isRecording">
        <ion-icon slot="icon-only" name="mic"></ion-icon>
      </ion-button>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button clear>
        00:{{ seconds }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row>
      <ion-col [size]="(isWeb) ? 6 : ''">
        <ion-button expand="block" (click)="dismiss()">
          <ion-icon name="chevron-back-outline" *ngIf="!videoUrl"></ion-icon>
          BACK
        </ion-button>
      </ion-col>
      <ion-col *ngIf="videoUrl" [size]="(isWeb) ? 6 : ''">
        <ion-button expand="block" (click)="next()">
          NEXT
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>